@charset "UTF-8";
/* CSS Document */

/*Global font-family. Need to apply our font where we want them in jQuery mobile UI elements.*/
body .ui-link, .ui-body-a, .ui-body-c, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button, .ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ui-bar-a {
    font-weight: 300 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:normal;
}

.ui-btn {
	border:2px;
	border-color: transparent;
	margin:0px;
}

.ui-body-c, .ui-body-a{
	border:0;
}

.ui-dialog .ui-dialog-contain {  }

/* Navigation/Search bar */
.nav-bar > .brand {
	font-size:22px;	
	padding-left:4px;
}

.nav-bar > #search {
	width:55%;
	display:inline-block;
}

.nav-bar .nav-button {
	display:inline-block;	
	top:3px;
	height:28px;
	padding-left:4px;
	padding-top:4px;
	margin:0px;
}


/*Buttons that don't have text need additional 12px top offsets*/
.nav-bar #menuButton {
	float:right;
	right:4px;
	width:28px;
	top:12px;
}

.nav-bar #filterButton {
	width:28px;
	top:12px;
}


/*Page contents*/
.ui-content {
	padding:0px !important;
}


/*Panels (list panel and nav panel) */
.panel{
	width:50em;
}

.ui-panel-inner {
	padding:0px;
}

.panel-result{
	height:auto;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

#nav-panel{
	background: rgba(73,73,73,.95);
	text-shadow: 0px 1px 1px #000000;
	min-height:0px !important;
}

#nav-panel-contents {
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	padding:2px;
}

#nav-panel ul{
	margin:0;
	padding:0;
	width:100%;	
}

#nav-panel ul li a:link, #nav-panel ul li a:visited, #nav-panel-contents{
	border-bottom:solid #333 1px;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	width:inherit;
	display:block;
	padding:10px 0px 10px 10px; 
	text-shadow: 0px 1px 1px #000000;
}
#nav-panel > .sublist{
	background-color:#383737;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,29,29,1)), color-stop(21%,rgba(56,55,55,1)));
}

.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
	-webkit-transform: translate3d(-50em,0,0);
	-moz-transform: translate3d(-50em,0,0);
	transform: translate3d(-50em,0,0);
}



/*Use the mobile version of UI when the width is < 768px*/
@media screen and (max-width: 968px) {
    .desktop {display:none !important;}
	.panel {width:100%;}
	.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
		-webkit-transform: translate3d(-30em,0,0);
		-moz-transform: translate3d(-30em,0,0);
		transform: translate3d(-30em,0,0);
	}
}

/*Use desktop version of image carousel when width > 769px*/
@media screen and (min-width: 969px) {
    .mobile {display:none !important;}
	.nav-bar > #search {width:400px;}
	#event-closebtn{width:50%;vertical-align:middle;}
	#list-closebtn{width:50%;vertical-align:middle;}
}
